:root{
    --background-color: #f5f5f5;
}


ul{
    background: #d6d6d6;
}

nav ul li a{
    color: #000000;
}

li a.active, li a:hover{
    background: #888888;
}

nav ul dark-mode-toggle{
    color: #000000;
}

.head{
    background: #d6d6d6;
}

.logo  a {
    color: #000000;
}

.checkbtn{
    color: #000000;
}

footer{
    background-color: #afafaf;
}

.footer-dark-mode{
    background-color: #afafaf; 
}

.footer-menu-container{
    background-color: #afafaf; 
}

.copyright{
    color: #000000;
    opacity: 0.6;
}

@media (max-width: 858px){
ul{
    background: #c7c7c7;
}
}